<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Reservation Details</title>
</head>
<body>
<h2>Flight Details:</h2>

Airlines: <span th:text="${reservation.flight.operatingAirlines}"/><br/>
Flight No: <span th:text="${reservation.flight.flightNumber}"/><br/>
Departure City: <span th:text="${reservation.flight.departureCity}"/><br/>
Arrival City: <span th:text="${reservation.flight.arrivalCity}"/><br/>
Date Of Departure: <span th:text="${reservation.flight.dateOfDeparture}"/><br/>
Estimate Departure Time: <span th:text="${reservation.flight.estimatedDepartureTime}"/><br/>

<h2>Passenger Details</h2>

First Name: <span th:text="${reservation.passenger.firstName}"/><br/>
Last Name: <span th:text="${reservation.passenger.lastName}"/><br/>
Email : <span th:text="${reservation.passenger.email}"/><br/>
Phone: <span th:text="${reservation.passenger.phone}"/><br/>

<form action="completeCheckIn" method="post">
Enter the Number Of Bags You want to check in: <input type="text" name="numberOfBags"/>
<input type="number"  name="reservationId"/>
<input type="submit" value="Check In"/>


</form>

</body>
</html>